<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Configuración del documento -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Enlaces a archivos de estilo externos -->
    <link rel="stylesheet" type="text/css" href="../css/nav.css">
    <link rel="stylesheet" type="text/css" href="../css/home.css">
    <!-- Enlaces a bibliotecas de Bootstrap y Bootstrap Icons desde un CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!-- Título de la página y favicon -->
    <title>UCM | Lista de Reservas</title>
    <link rel="icon" href="../images/icon.png" type="image/x-icon">
</head>

<body>
    <!-- Inclusión del encabezado y la barra de navegación -->
    <%- include('header.ejs') %>
        <%- include('nav.ejs') %>

            <!-- Contenido principal -->
            <main class="p-3">
                <div class="container">
                    <h2 class="mb-3 text-center titulo-dest">Lista de Reservas</h2>
                    <div class="mb-3 d-flex align-items-center justify-content-center">
                        <!-- Etiqueta "Buscar por:" y menú desplegable -->
                        <form action="/buscarReservas" method="GET" class="input-group">
                            <label for="buscarPor" class="form-label p-2 mt-1">Filtrar:</label>
                            <div class="form-group me-2 border border-dark rounded">
                                <select class="form-select" id="buscarPor" name="campoBuscar">
                                    <option value="id">Id</option>
                                    <option value="email">Email</option>
                                    <option value="instalacion">Instalación</option>
                                    <option value="fecha_inicio">Fecha Inicio</option>
                                    <option value="fecha_fin">Fecha Fin</option>
                                </select>
                            </div>
                            <!-- Caja de búsqueda y botón de búsqueda dentro del formulario -->
                            <input id="busquedaGlobal" type="search" class="form-control border-dark rounded" placeholder="Buscar reservas..." name="nombreBuscar" required>
                            <button class="btn btn-dark" type="submit"><i class="bi bi-search"></i></button>
                        </form>
                    </div>
                    <table class="table table-bordered">
                        <thead class="border-dark">
                            <tr>
                                <th>Id</th>
                                <th>Correo Electrónico</th>
                                <th>Instalación</th>
                                <th>Día</th>
                                <th>Hora</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% results.forEach(function(reserva) { %>
                                <tr>
                                    <!-- Celdas de la tabla -->
                                    <td>
                                        <%= reserva.Id %>
                                    </td>
                                    <td>
                                        <%= reserva.usuEmail %>
                                    </td>
                                    <td>
                                        <%= reserva.nombre_instalacion %>
                                    </td>
                                    <td>
                                        <%= reserva.dia %>
                                    </td>
                                    <td>
                                        <%= reserva.hora %>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </div>
            </main>

            <!-- Inclusión del pie de página -->
            <%- include('footer.ejs') %>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
                <script src="ruta/a/jquery.min.js"></script>
                <!-- Popper.js -->
                <script src="ruta/a/popper.min.js"></script>
                <!-- Bootstrap JS Bundle -->
                <script src="ruta/a/bootstrap.bundle.min.js"></script>

</body>

</html>